<% provide( :title, "Home" ) %>
<div class="center jumbotron">
  <h1>帳簿</h1>
  <% if !logged_in? %>
    <%= link_to "Sign up", signup_path, class:"btn lg-panel" %>
    <%= render 'sign_in_form' %>
    
  <% else %>
    <%= "こんにちは、 #{session[:user_name]}さん"%>
  <% end %>
</div>
