<h1>パスワードの初期化はこちら</h1>

<p>
こんにちは、<%= @user.name %>さん。
以下のurlからパスワードを初期化することができます。

urlの有効期限は<%= @time + 7200 %>までです。
</p>


<%= link_to "初期化する", edit_password_reset_url(@user.reset_token, email: @user.email) %>