<li id="division-<%= division.id %>">
  <strong class="name">
    <%= link_to division.name, edit_division_path(division) %>
  </strong>
  <span class="timestamp">
    Added on <%= division.created_at %> .
  </span>
</li>