@import "bootstrap-sprockets";
@import "bootstrap";

:root{
--main-bg-collor: #09306d;
--main-font-collor: #333;
--inverse-font-collor: white;
}

/* universal */

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
ul{
  padding-left: 0px;
}
ul.indent{
  margin-left: 12px;
  padding-left: 6px;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
.h3{
  margin-top: 10px;
  margin-bottom: 10px;
}
.group{
  margin-top: 24px;
}
.x-spacing{
  margin-right: 20px;
}
.y-spacing{
  margin-bottom: 16px;
}

/* panels */
div.danger-zone{
  position: relative;
  background: rgba(255, 255, 255, 1);
  margin-top: 3em;
  padding : 1em;
  &:after {
    position: absolute;
    top: -6px; bottom: -6px;
    left: -6px; right: -6px;
    background: repeating-linear-gradient(45deg, yellow, yellow 12px, black 12px, black 24px);
    background-color: black;
    content: '';
    z-index: -1;
  }
}

/* button */
.btn-gray{
  background-color: #ccc;
  color: #333;
  font-weight: bold;
}

.menu-toggle{
  margin-right: 32px;
}


/* footer */
footer{
  display: block;
  width: 100%;
  min-height: 20px;
  height: fit-content;
  position: fixed;
  bottom: 0;
  background-color: var(--main-bg-collor);
  color: var(--inverse-font-collor);
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
