<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Account Book", root_path, id:"logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "事業一覧", division_path %></li>
      <li><%= link_to "ログイン", signup_path %></li>
    </ul>
  </nav>
</div>
</header>